<div id="<%= dom_id producto %>">
  <p>
    <strong>Name:</strong>
    <%= producto.name %>
  </p>

  <% if producto.foto.attached? %>
    <%= image_tag producto.foto.variant(resize_to_limit: [200, 200]) %>
  <% else %>
    <em>Sin imagen</em>
  <% end %>

  <p>
    <strong>Descripcion:</strong>
    <%= producto.descripcion %>
  </p>

 <p>
  <strong>Precio:</strong>
  <%= number_to_currency(producto.precios, unit: "$", delimiter: ".", separator: ",", precision: 0) %>
</p>
</div>
