<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Menú <%= @grupo.nombre %></title>
  <%= stylesheet_link_tag 'carta', media: 'all' %>
</head>
<body>
  <div class="menu-contenedor">
    <h1><%= @grupo.nombre.upcase %></h1>

    <% if @grupo.descripcion.present? %>
      <p class="subtitulo"><%= @grupo.descripcion %></p>
    <% end %>

    <ul class="lista-menu">
      <% @productos.each do |producto| %>
        <li>
          <div class="nombre">▶ <%= producto.name.upcase %></div>
          <span class="precio"><%= number_to_currency(producto.precio, unit: "$", precision: 0) %></span>
          <%= button_to 'Agregar', carrito_path(producto: producto.slug), method: :post, class: 'btn-agregar' %>
        </li>
      <% end %>
    </ul>

    <%= link_to "Volver al menú principal", menu_path, class: "boton-amarillo" %>
    <%= link_to "Ver carrito", mostrar_carrito_path, class: "boton-amarillo" %>
  </div>

  <%= render 'shared/flash_modal' %>
</body>
</html>
