<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Menú desgranados</title>
  <%= stylesheet_link_tag 'carta', media: 'all' %>
</head>
<body>
  <div class="menu-contenedor">
    <h1>DESGRANADOS</h1>
    <p class="subtitulo">Incluyen: pan super, salchicha, lechuga, papa chongo, salsa tártara y piña.</p>
    
    <ul class="lista-menu">
      <li>
        <div class="nombre">▶ SENCILLO</div>
        <span class="precio">$17.000</span>
        <%= button_to 'Agregar', carrito_path(producto: 'la_sencillo_desgranado'), method: :post, class: 'btn-agregar' %>
      </li>
      <li>
        <div class="nombre">▶ CHORIPAPA</div>
        <span class="precio">$20.000</span>
        <%= button_to 'Agregar', carrito_path(producto: 'choripapa_desgranado'), method: :post, class: 'btn-agregar' %>
      </li>
      <li>
        <div class="nombre">▶ COSTEÑA</div>
        <span class="precio">$20.000</span>
        <%= button_to 'Agregar', carrito_path(producto: 'costena_desgranado'), method: :post, class: 'btn-agregar' %>
      </li>
      <li>
        <div class="nombre">▶ SUIZA</div>
        <span class="precio">$22.000</span>
        <%= button_to 'Agregar', carrito_path(producto: 'suiza_desgranado'), method: :post, class: 'btn-agregar' %>
      </li>
      <li>
        <div class="nombre">▶ POLLO</div>
        <span class="precio">$23.000</span>
        <%= button_to 'Agregar', carrito_path(producto: 'pollo_desgranado'), method: :post, class: 'btn-agregar' %>
      </li>
      <li>
        <div class="nombre">▶ CARNE</div>
        <span class="precio">$23.000</span>
        <%= button_to 'Agregar', carrito_path(producto: 'carne_desgranado'), method: :post, class: 'btn-agregar' %>
      </li>
      <li>
        <div class="nombre">▶ MIXTA (CARNE Y POLLO)</div>
        <span class="precio">$26.000</span>
        <%= button_to 'Agregar', carrito_path(producto: 'mixta_desgranado'), method: :post, class: 'btn-agregar' %>
      </li>
    </ul>

    <%= link_to "Volver al menú", menu_path, class: "boton-amarillo" %>
  </div>

  <%= render 'shared/flash_modal' %>
</body>
</html>