<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Menú Salchichas</title>
  <%= stylesheet_link_tag 'carta', media: 'all' %>
</head>
<body>
  <div class="menu-contenedor">
    <h1>SALCHIPAPA</h1>
    <p class="subtitulo">Incluyen: pan super, salchicha, lechuga, papa chongo, salsa tártara y piña.</p>
    
    <ul class="lista-menu">
      <li>
        <div class="nombre">▶ LA SENCILLO</div>
        <span class="precio">$14.000</span>
        <%= button_to 'Agregar', carrito_path(producto: 'la_sencillo_salchicha'), method: :post, class: 'btn-agregar' %>
      </li>
      <li>
        <div class="nombre">▶ CHORIPAPA</div>
        <span class="precio">$17.000</span>
        <%= button_to 'Agregar', carrito_path(producto: 'choripapa_salchicha'), method: :post, class: 'btn-agregar' %>
      </li>
      <li>
        <div class="nombre">▶ LA COSTEÑA</div>
        <span class="precio">$17.000</span>
        <%= button_to 'Agregar', carrito_path(producto: 'la_costena_salchicha'), method: :post, class: 'btn-agregar' %>
      </li>
      <li>
        <div class="nombre">▶ SUIZA</div>
        <span class="precio">$20.000</span>
        <%= button_to 'Agregar', carrito_path(producto: 'suiza_salchicha'), method: :post, class: 'btn-agregar' %>
      </li>
      <li>
        <div class="nombre">▶ POLLIPAPA</div>
        <span class="precio">$21.000</span>
        <%= button_to 'Agregar', carrito_path(producto: 'pollipapa_salchicha'), method: :post, class: 'btn-agregar' %>
      </li>
      <li>
        <div class="nombre">▶ LA CARNIVORA</div>
        <span class="precio">$21.000</span>
        <%= button_to 'Agregar', carrito_path(producto: 'la_carnivora_salchicha'), method: :post, class: 'btn-agregar' %>
      </li>
      <li>
        <div class="nombre">▶ MIXTA</div>
        <span class="precio">$23.000</span>
        <%= button_to 'Agregar', carrito_path(producto: 'mixta_salchicha'), method: :post, class: 'btn-agregar' %>
      </li>
      <li>
        <div class="nombre">▶ POLLO SUIZA</div>
        <span class="precio">$23.000</span>
        <%= button_to 'Agregar', carrito_path(producto: 'pollo_suiza_salchicha'), method: :post, class: 'btn-agregar' %>
      </li>
    </ul>

    <%= link_to "Volver a al menu", menu_path, class: "boton-amarillo" %>
  </div>

  <!-- Aquí renderizamos el modal -->
  <%= render 'shared/flash_modal' %>
</body>
</html>