<div id="<%= dom_id user %>">
  <p>
    <strong>Nombre:</strong>
    <%= user.nombre %>
  </p>

  <p>
    <strong>Apellido:</strong>
    <%= user.apellido %>
  </p>

  <p>
    <strong>Edad:</strong>
    <%= user.edad %>
  </p>

  <p>
    <strong>Correo:</strong>
    <%= user.correo %>
  </p>

</div>
