<p style="color: green"><%= notice %></p>

<%= render @subgrupo %>

<div>
  <%= link_to "Edit this subgrupo", edit_subgrupo_path(@subgrupo) %> |
  <%= link_to "Back to subgrupos", subgrupos_path %>

  <%= button_to "Destroy this subgrupo", @subgrupo, method: :delete %>
</div>
