<div class="container mt-4">
  <div class="card shadow-sm">
    <div class="card-header bg-white border-bottom">
      <h2 class="h4 text-dark mb-0">✏️ <%= t("admin.productos.edit") %></h2>
    </div>

    <div class="card-body">
      <%= form_with model: @producto, url: dashboard_producto_path(@producto), method: :patch, local: true, html: { multipart: true } do |f| %>
        <div class="mb-3">
          <%= f.label :name, t("admin.productos.nombre"), class: "form-label text-dark" %>
          <%= f.text_field :name, class: "form-control text-dark", placeholder: t("admin.productos.placeholders.nombre") %>
        </div>

        <div class="mb-3">
          <%= f.label :descripcion, t("admin.productos.descripcion"), class: "form-label text-dark" %>
          <%= f.text_area :descripcion, rows: 4, class: "form-control text-dark", placeholder: t("admin.productos.placeholders.descripcion")%>
        </div>

        <div class="mb-3">
          <%= f.label :precio, t("admin.productos.precio"), class: "form-label text-dark" %>
          <%= f.number_field :precio, class: "form-control text-dark", min: 0, step: 100, placeholder: "Ej. 12000" %>
        </div>

        <div class="mb-3">
          <%= f.label :foto, t("admin.productos.foto"), class: "form-label text-dark" %>
          <%= f.file_field :foto, class: "form-control text-dark" %>
          <% if @producto.foto.attached? %>
            <div class="mt-2">
              <%= image_tag @producto.foto, class: "img-fluid rounded", style: "max-height: 200px;" %>
            </div>
          <% end %>
        </div>

        <div class="mb-3">
          <%= f.label :grupo_id, t("admin.grupos.title"), class: "form-label text-dark" %>
          <%= f.collection_select :grupo_id, Grupo.all, :id, :nombre, { prompt: t("admin.productos.placeholders.grupo") }, class: "form-select text-dark" %>
        </div>

        <div class="mb-3">
          <%= f.label :adicional_ids, t("admin.productos.adicionales"), class: "form-label text-dark" %>
          <div class="form-check">
            <%= f.collection_check_boxes :adicional_ids, Adicional.all, :id, :ingredientes do |b| %>
              <div class="form-check">
                <%= b.check_box(class: "form-check-input") %>
                <%= b.label(class: "form-check-label text-dark") %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="d-flex justify-content-between align-items-center mt-4">
          <%= f.submit "💾 #{t("admin.grupos.actions.save")}", class: "btn btn-primary" %>
          <%= link_to "#{t("botones.volver_grupos")}", dashboard_productos_path, class: "btn btn-outline-secondary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
