<%= form_with model: @producto, url: dashboard_productos_path, method: :post do |f| %>
  <% if @producto.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(@producto.errors.count, "error") %> impidieron guardar el producto:</h4>
      <ul>
        <% @producto.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 <div class="mb-3">
  <%= f.label :name, t("admin.productos.nombre"), class: "form-label text-dark" %>
  <%= f.text_field :name, class: "form-control" %>
</div>

<div class="mb-3">
  <%= f.label :foto, t("admin.productos.foto"), class: "form-label text-dark" %>
  <%= f.file_field :foto, class: "form-control" %>
</div>

<div class="mb-3">
  <%= f.label :precio, t("admin.productos.precio"), class: "form-label text-dark" %>
  <%= f.number_field :precio, class: "form-control", min: 0 %>
</div>

<div class="mb-3">
  <%= f.label :descripcion, t("admin.productos.descripcion"), class: "form-label text-dark" %>
  <%= f.text_area :descripcion, rows: 3, class: "form-control" %>
</div>

<div class="mb-3">
  <%= f.label :grupo_id, t("admin.grupos.title"), class: "form-label text-dark" %>
  <%= f.collection_select :grupo_id, Grupo.all, :id, :nombre, { prompt: t("admin.productos.placeholders.grupo")  }, class: "form-select" %>
</div>

<div class="mb-3">
  <%= f.label :adicional_ids,t("admin.productos.adicionales"), class: "form-label text-dark" %>
  <div class="form-check">
    <%= f.collection_check_boxes :adicional_ids, Adicional.all, :id, :ingredientes do |b| %>
      <div class="form-check">
        <%= b.check_box(class: "form-check-input") %>
        <%= b.label(class: "form-check-label text-dark") %>
      </div>
    <% end %>
  </div>
</div>

<div class="text-end">
    <%= f.submit t("admin.grupos.actions.save"), class: "btn btn-primary" %>
</div>
    <%= link_to t("botones.volver_grupos"), dashboard_productos_path, class: "btn btn-secondary" %>
</div>

<% end %>
