<%= form_with model: @producto, url: dashboard_productos_path, method: :post do |f| %>
  <% if @producto.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(@producto.errors.count, "error") %> impidieron guardar el producto:</h4>
      <ul>
        <% @producto.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 <div class="mb-3">
  <%= f.label :name, "Nombre del producto", class: "form-label text-dark" %>
  <%= f.text_field :name, class: "form-control" %>
</div>

<div class="mb-3">
  <%= f.label :foto, "Subir foto", class: "form-label text-dark" %>
  <%= f.file_field :foto, class: "form-control" %>
</div>

<div class="mb-3">
  <%= f.label :precio, "Precio", class: "form-label text-dark" %>
  <%= f.number_field :precio, class: "form-control", min: 0 %>
</div>

<div class="mb-3">
  <%= f.label :descripcion, "Descripción", class: "form-label text-dark" %>
  <%= f.text_area :descripcion, rows: 3, class: "form-control" %>
</div>

<div class="mb-3">
  <%= f.label :grupo_id, "Grupo", class: "form-label text-dark" %>
  <%= f.collection_select :grupo_id, Grupo.all, :id, :nombre, { prompt: "Selecciona un grupo" }, class: "form-select" %>
</div>

<div class="mb-3">
  <%= f.label :adicional_ids, "Adicionales", class: "form-label text-dark" %>
  <div class="form-check">
    <%= f.collection_check_boxes :adicional_ids, Adicional.all, :id, :ingredientes do |b| %>
      <div class="form-check">
        <%= b.check_box(class: "form-check-input") %>
        <%= b.label(class: "form-check-label text-dark") %>
      </div>
    <% end %>
  </div>
</div>

<div class="text-end">
    <%= f.submit "Guardar Producto", class: "btn btn-primary" %>
</div>
    <%= link_to "Cancelar", dashboard_productos_path, class: "btn btn-secondary" %>
</div>

<% end %>
