<%= form_with(model: grupo, local: false, html: { multipart: true }, data: { turbo: false }) do |form| %>


  <% if grupo.errors.any? %>
    <div class="alert alert-danger">
      <h5><%= pluralize(grupo.errors.count, "error") %> impidieron guardar el grupo:</h5>
      <ul>
        <% grupo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :nombre, class: "form-label" %>
    <%= form.text_field :nombre, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :foto, "Subir foto", class: "form-label" %>
    <%= form.file_field :foto, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.submit "Guardar", class: "btn btn-primary" %>
  </div>
<% end %>
