<p style="color: green"><%= notice %></p>

<% content_for :title, "Grupos" %>

<h1>Grupos</h1>

<div id="grupos" class="grupos-index">
  <% @grupos.each do |grupo| %>
    <h2><%= grupo.nombre %></h2>
    <%= image_tag grupo.foto, style: "aspect-ratio: 1/1; width: 200px; object-fit: cover;" %>

    <p>
      <%= link_to "Show this grupo", grupo_path(grupo.id) %>
    </p>
  <% end %>
</div>

<%= link_to "New grupo", new_grupo_path %>
<%= link_to "â† Volver al panel de administrador", admin_dashboard_path %>

