<div id="<%= dom_id @grupo %>">
  <p>
    <strong>Nombre:</strong>
    <%= @grupo.nombre %>
  </p>

  <% if @grupo.foto.attached? %>
    <p>
      <%= image_tag (@grupo.foto) %>
    </p>
  <% else %>
    <p><em>Sin imagen</em></p>
  <% end %>
  <%= link_to "Editar este grupo", edit_grupo_path(@grupo.id) %> 
  <%= link_to "Eliminar este grupo", grupo_path(@grupo.id), method: :delete, data: { confirm: "¿Estás seguro de que quieres eliminar este grupo?" } %>

</div>


