<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Carrito de Compras</title>
  <%= stylesheet_link_tag 'carta', media: 'all' %>
</head>
<body>
  <div class="menu-contenedor">
    <h1>Carrito de Compras</h1>

    <% if @productos_en_carrito.empty? %>
      <p>No hay productos en el carrito.</p>
    <% else %>
      <ul class="lista-menu">
        <% @productos_en_carrito.each do |producto| %>
          <li>
            <strong><%= producto.name %></strong><br>
            <% if producto.foto.attached? %>
              <div class="foto">
                <%= image_tag producto.foto.variant(resize_to_limit: [150, 150]) %>
              </div>
            <% end %>
            <p><%= producto.descripcion %></p>
            <p><strong>Precio:</strong> $<%= number_with_delimiter(producto.precio, delimiter: '.') %></p>
            <%= button_to "Eliminar", eliminar_del_carrito_path(producto.id), method: :delete, class: "boton-rojo" %>
          </li>
        <% end %>
      </ul>
    <% end %>

    <%= link_to "Volver al menú", menu_path, class: "boton-amarillo" %>
  </div>
</body>
</html>
