<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "dark nova" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>

    <%# Carga estilos específicos por vista si lo deseas %>
    <% if controller_name == "home" && action_name == "bienvenidos" %>
      <%= stylesheet_link_tag "bienvenidos", "data-turbo-track": "reload" %>
    <% elsif controller_name == "menus" %>
      <%= stylesheet_link_tag "menu", "data-turbo-track": "reload" %>
    <% elsif controller_name == "productos" %>
      <%= stylesheet_link_tag "carta", "data-turbo-track": "reload" %>
    <% elsif controller_name == "grupos" && action_name == "new" %>
      <%= stylesheet_link_tag "new", "data-turbo-track": "reload" %>
    <% elsif controller_name == "carrito" %>
      <%= stylesheet_link_tag "carta", "data-turbo-track": "reload" %>
    <% end %>


    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
