<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:title) || t("admin.panel_title") %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="icon" href="/icon.png" type="image/png">
  <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <%= stylesheet_link_tag "admin_dark", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css", media: "all" %>
</head>

<body>
  <!-- Sidebar -->
  <aside class="sidebar">
    <div class="brand"> <%= t("admin.brand") %></div>
    <nav class="nav flex-column">
      <%= link_to " #{t("admin.sidebar.home")}", dashboard_root_path, class: "nav-link #{current_page?(dashboard_root_path) ? 'active' : ''}" %>
      <%= link_to " #{t("admin.sidebar.groups")}", dashboard_grupos_path, class: "nav-link #{current_page?(dashboard_grupos_path) ? 'active' : ''}" %>
      <%= link_to " #{t("admin.sidebar.products")}", dashboard_productos_path, class: "nav-link #{current_page?(dashboard_productos_path) ? 'active' : ''}" %>
      <%= link_to " #{t("admin.sidebar.promotions")}", dashboard_promociones_path, class: "nav-link #{current_page?(dashboard_promociones_path) ? 'active' : ''}" %>
    </nav>
    <div class="footer">
      &copy; <%= Date.today.year %> <%= t("admin.brand") %>
    </div>
  </aside>

  <!-- Contenido principal -->
  <div class="main-content">
    <!-- Navbar superior -->
  <div class="top-navbar d-flex justify-content-between align-items-center p-2 bg-light">
  <!-- Bot贸n volver al inicio -->
  <div>
    <%= link_to " Home", root_path, class: "btn btn-sm btn-primary" %>
  </div>

  <!-- Informaci贸n de usuario/admin -->
  <div class="admin-info">
    <% if user_signed_in? %>
      <span> <%= current_user.email %></span>
      <%= link_to "Cerrar sesi贸n",
                  destroy_user_session_path,
                  method: :delete,
                  data: { turbo: false, confirm: "驴Deseas cerrar sesi贸n?" },
                  class: "btn btn-sm btn-outline-danger ms-2" %>
    <% else %>
      <%= link_to "Iniciar sesi贸n", new_user_session_path, class: "btn btn-sm btn-success" %>
    <% end %>
  </div>
</div>




    <!-- Contenido din谩mico -->
    <div class="mt-4">
      <%= yield %>
    </div>
  </div>
  <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" %>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>
</html>
