<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nombre, style: "display: block" %>
    <%= form.text_field :nombre, class: "input-form" %>
  </div>

  <div>
    <%= form.label :apellido, style: "display: block" %>
    <%= form.text_field :apellido, class: "input-form" %>
  </div>

  <div>
    <%= form.label :edad, style: "display: block" %>
    <%= form.number_field :edad, class: "input-form" %>
  </div>

  <div>
    <%= form.label :correo, style: "display: block" %>
    <%= form.text_field :correo, class: "input-form" %>
  </div>

  <div>
    <%= form.submit "Crear Usuario", class: "button" %>
  </div>
<% end %>
